<div>
    <h1>List of users</h1>

    <div >
        <user-list ng-repeat="user in users"
                   user-name="{{user.userName}}">
            <p>E-mail: {{user.email}}</p>
            <p>Notification: {{user.notification}}</p>
            <button ui-sref="users.update({id: user.id})">Edit</button>
            <button ng-click="delete(user.id)">Delete</button>
        </user-list>
    </div>

    <!--<user-list items="users"></user-list>-->

    <div ng-show="loadData">
        <button ui-sref="users.create">Add</button>
    </div>
    <button ng-click="delete(10)">Test delete</button>

    <div ng-show="!loadData">
        {{message}}
    </div>
</div>