$primary-color: #EF3413;
$dark-color: #781F17;
$light-color: rgb(255, 228, 216);


.color-primary {
  background-color: $primary-color;
  color: $light-color;
}

.color-light {
  background-color: $light-color;
}

.color-dark {
  background-color: $dark-color;
  color: $light-color;
}