<div>
    <h2>Tell me about yourself</h2>
    <form name="question">
        <label>
            Age:
            <input type="number"
                   ng-model="questionnaire.age">
        </label>
        <br>
        <label>Do you want to get notifications?
            <trigger trigger-value="question.notification"></trigger>
        </label>
        <br>
        <label>Do you have any pets?
            <trigger trigger-value="question.pets"></trigger>
        </label>
        <br>
        <div ng-show="question.pets">
            <label>
            Select pets
        </label>
        </div>
    </form>
</div>