.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
}

.footer-volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 2rem;
}

.footer-button {
  font-size: 2rem;
  padding: 0.5rem 1.3rem;
}

.footer-button p{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.footer-icon {
  height: 3.5rem;
  vertical-align: middle;
}

.volume-icon {
  font-size: 3.5rem;
}

#volume-container {
  position: relative;
  display: flex;
  height: 3rem;
  width: 55vw;
}

#volume-scale {
  height: 1px;
  width: 55vw;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

#volume-cycle {
  width: 3rem;
  height: 3rem;
  background-color: $light-color;
  border-radius: 1.5rem;
  position: absolute;
  left: 30vw;
}

#volume-fill {
  width: 35vw;
  position: absolute;
  border-top: 4px solid;
  top: 1.5rem;
}
