#message {
  display: flex;
  justify-content: center;
  background-color: ($dark-color+$primary-color)/2;
  color: $light-color;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
}

.guitar-arrow {
  font-size: 8rem;
  margin:auto 0;
}

.guitar-play {
  position: relative;
  top: 2rem;
  left: 2rem;
  font-size: 12rem;
}

.guitar-play-container {
  position: relative;
  width: 16rem;
  height: 16rem;
  border: 1px solid $light-color;
  border-radius: 8rem;
}

.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

#song-title {
  font-family: $header-font;
  margin: auto;
}

#song-description {
  margin: 0 auto;
}

#song-control-controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#song-control-controller button {
  font-family: $primary-font;
  font-size: 2rem;
}

.reply-array, .forward-array{
  width: 6rem;
  height: 6rem;
}

.reply-array img, .forward-array img {
  position: absolute;
  width: 6rem;
}

.reply-array p {
  margin: 0;
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
}

.forward-array p {
  margin: 0;
  position: relative;
  top: 2.5rem;
  left: 1.5rem;
}

.trending-flat {
  position: absolute;
  top: -2rem;
}

#trending-flat-1 {
  left: 35vw;
}

#trending-flat-2 {
  left: 45vw;
}

#progress-bar-container {
  display: flex;
  position: relative;
}

#progress-bar {
  position: relative;
  height: 8rem;
  width: 100%;
  border: 1px solid $light-color;
}

#progress-bar-fill {
  position: absolute;
  background-color: $light-color;
  opacity: 0.5;
  height: 8rem;
  width: 25%;
}

#progress-bar-line {
  position: absolute;
  height: 10rem;
  left: 25%;
  top: -1rem;
  border-right: 2px solid $light-color;
}

